

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>AirBNv</title>
    <link rel="stylesheet" href="/style.css">
</head>
<body>

   

    <section class="input-form-section">

    <form action="/add-home" method="post">
        <input type="text" name="housename" placeholder="Enter House Name:" required>
        <input type="text" name="location" placeholder="House Location" required>
        <input type="text" name="price" placeholder="Price" required>
        <input type="text" name="nights" placeholder="Stay How Many Nights" required>
        <input type="text" name="rating" placeholder="rating" required>
        <textarea type="text" name="description" placeholder="description"></textarea>
        <input type="Submit">
    </form>
    
</section>
    
</body>
</html>